.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 10px;

    .form-group {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;

        &.half-width {
            flex-basis: calc(100% / 2 - 10px);
        }

        label {
            font-size: 1.125rem;
            color: $dblack;
            font-weight: 500;
            text-transform: capitalize;
            margin-bottom: 5px;
        }

        .form-input {
            border-radius: 5px;
            border: 1px solid #BDBDBD;
            background: transparent;
            padding: 10px;
            font-size: 0.875rem;
            text-transform: capitalize;
            color: $black;
            resize: none;
            width: 100%;
            font-family: $secondaryFont;

            &::placeholder {
                font-size: 0.875rem;
                font-weight: 700;
                color: $black;
                font-family: $secondaryFont;
            }

            &:focus-visible {
                border: none;
                outline: 0;
                box-shadow: 2px 2px 3px -1px $black;
                border-bottom: 1px solid $black;
            }

            &.msg-input {
                height: 100px;
            }


        }

        &.button-group {
            flex-basis: auto;
        }
    }
}

@include custom_max(992px) {
    .form {
        .form-group {
            label {
                font-size: 1.25rem;
            }
        }
    }
}

@include custom_max(576px) {
    .form {
        flex-direction: column;
        gap: 20px;

        .form-group {
            label {
                font-size: 1.125rem;
            }
        }
    }
}