.mobile-call-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 99;
    display: none;

    @include custom_max(767px) {
        display: block;
    }

    a {
        font-size: 1.25rem;
        height: 45px;
        width: 45px;
        display: grid;
        place-items: center;
        color: $whitey;
        border-radius: $radius;
        transition: 0.5s ease-in-out;
        position: relative;
        z-index: 1;
        border: 1px solid rgba($primaryColor, 0.7);
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 110%;
            height: 0;
            background-color: rgba($primaryColor, 0.7);
            z-index: -1;
            transition: 0.5s ease-in-out;
        }

        i {
            color: $whitey;
            transition: 0.5s ease-in-out;
        }

        &:hover {
            height: 75px;

            &::before {
                height: 100%;
            }

            i {
                color: $whitey;
            }
        }
    }
}