$facebook: #3b5998;
$twitter: #55acee;
$gplus: #d34836;
$linkedin: #0077b5;
$skype: #0078ca;
$youtube: #cc181e;
$instagram: #125688;
/* Main Fonts */
$primaryFont: "Adamina", sans-serif;
$secondaryFont: "Play", sans-serif;
$territaryFont: "Lato", sans-serif;

/* Colors */
$rblue: #4169e1;
$lblue: #ADD8E6;
$yellow: #e9ae0c;
$red: #FF0000;
$orange: #FFA500;
$purple: #800080;
$green: #67b915;
$dark-color: #555555;

/* mostly used color */
$primaryColor: #112c4b;
$secondaryColor: #619cd4;
$territary: #619cd4;
$whitey: #ffffff;
$lgrey: #f8f8f8;
$grey: #dedede;
$black: #292929;
$dblack: #000000;
$lblack: #313131;
$t-color: #737373;
$radius: 50px;