.about {
    padding: 160px 0;
    position: relative;
    z-index: 1;
    background-color: $secondaryColor;

    .wrapper {
        gap: 30px;
        z-index: 1;
        position: relative;


        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-color: $secondaryColor;
            width: 80%;
            height: 80%;
            z-index: -1;
        }

        .about-image {
            flex-basis: calc(50% - 30px);
            position: relative;

            .figure {
                img {
                    width: 100%;
                    height: 100%;

                }
            }

            .background-attachment {
                position: absolute;
                top: 0px;
                left: -100px;
                width: 90%;
                height: 90%;
                opacity: 0.3;
                transform: scale(1.25);
            }
        }

        .about-content {
            flex-basis: calc(50% - 30px);
            padding: 60px;
            padding-right: 0;

            .main-title {
                margin-bottom: 0;

                &::before {
                    background-color: $whitey;
                }
            }

            p {
                color: $whitey;
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

@include custom_max(1200px) {
    .about {
        padding: 80px 0;

        .wrapper {
            gap: 60px;

            .about-image {
                height: auto;

                .figure {
                    height: 100%;
                }
            }
        }
    }
}

@include custom_max(992px) {
    .about {
        padding: 60px 0;

        .wrapper {
            flex-direction: column;
            gap: 0;

            &::before {
                display: none;
            }

            .about-image {
                width: 100%;

                .figure {
                    width: 100%;
                    height: 100%;

                    img {
                        transform: scale(0.8);
                        object-position: bottom;
                    }
                }

                .background-attachment {
                    transform: scale(1);
                    top: 0;
                    left: 0;
                }
            }

            .about-content {
                background-color: $territary;
                padding: 40px;

                ul {
                    li {
                        margin-top: 30px;

                        .desc {
                            h6 {
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include custom_max(576px) {
    .about {
        .wrapper {


            .about-content {
                ul {
                    li {
                        margin-top: 30px;

                        .desc {
                            h6 {
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }
}