.call-us {
    position: relative;
    z-index: 1;
    height: 1200px;
    background: linear-gradient(to top, $primaryColor, $secondaryColor);

    .wrap {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -20%);
        background: rgba(255, 255, 255, 0.945);         
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.9px);
        -webkit-backdrop-filter: blur(7.9px);
        padding: 40px;
        max-width: 600px;
        // border-bottom: 6px solid $green;

        .desc {
            flex-basis: 70%;
            text-align: center;
            margin-bottom: 20px;

            h5 {
                font-size: 2rem;
                font-weight: 700;
                color: $dblack;
                margin-bottom: 10px;
                text-transform: capitalize;
            }

            p {
                color: $dblack;
                line-height: 1.3;
            }
        }

        .form {
            .form-group {
                .form-input {
                    border: none;
                    border-bottom: 1px solid $black;
                }
            }
        }

        .button {
            flex-basis: 20%;
            text-align: right;

            .btn {
                border-radius: 5px;
            }
        }

    }
}

@include custom_max(1400px) {
    .call-us {
        height: 800px;
    }

}

@include custom_max(992px) {
    .call-us {
        height: 600px;

        .wrap {
            padding: 40px;

            .desc {
                h5 {
                    font-size: 1.75rem;
                }

            }

            .form {
                .form-group {
                    .form-input {
                        border: none;
                        border-bottom: 1px solid $black;
                    }
                }
            }

            .button {
                flex-basis: 20%;
                text-align: right;

                .btn {
                    border-radius: 5px;
                }
            }

        }
    }
}

@include custom_max(768px) {
    .call-us {
        height: 100%;

        .background-image {
            position: absolute;
            inset: 0;

            img {
                height: 100%;
            }
        }

        .wrap {
            padding: 40px;
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);

            .desc {
                h5 {
                    font-size: 1.75rem;
                }

            }

            .form {
                .form-group {
                    .form-input {
                        border: none;
                        border-bottom: 1px solid $black;
                    }
                }
            }

            .button {
                flex-basis: 20%;
                text-align: right;

                .btn {
                    border-radius: 5px;
                }
            }

        }
    }
}

