.why-choose-us {
    
    .main-title {

        h4 {
            color: $dblack;
        }

        p {
            color: $black;
        }
    }

    .wrapper {
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px 30px;


        .choose-block {
            flex-basis: calc(100% / 3 - 30px);
            text-align: center;
            padding: 20px;
            transition: 0.5s ease-in-out 0.3s box-shadow;

            .svg-icon {
                svg {
                    width: 80px;
                    height: 76px;
                }
            }

            .desc {
                margin-top: 25px;

                h6 {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: #37474F;
                    text-transform: capitalize;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 0.9375rem;
                    line-height: 1.5;
                }
            }

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

            }
        }
    }
}

@include custom_max(992px) {
    .why-choose-us {
        .wrapper {
            .choose-block {
                .desc {
                    h6 {
                        font-size: 1.125rem;
                    }

                    p {
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}

@include custom_max(768px) {
    .why-choose-us {
        .wrapper {
            flex-direction: column;
            gap: 40px;

            .choose-block {
                width: 100%;

                .svg-icon {
                    svg {
                        width: 60px;
                        height: 60px;
                    }
                }

                .desc {
                    text-align: center;

                    h6 {
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }
}